body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*font-family: 'Livvic', sans-serif;
font-family: 'Ribeye', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;*/

/***************************
****************************
Base Styles
****************************
***************************/

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body , html{
    height: 100%;
}

:root {
  --pink: #ff99c8;
  --yellow: #fcf6bd;
  --green: #d0f4de;
  --blue: #a9def9;
  --purple: #e4c1f9;
}
/** NavBar **/
.logo{
  font-family: 'Livvic', sans-serif;
  font-size:30px;
  font-weight: bold;
  

}
.nav-items{
  font-family: 'Livvic', sans-serif;
  
}
.logo-icon{
color:white;
}

.title{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  font-size:35px;
  text-align: center;
  color: black;
}

/***************************
****************************
Layout Styles
****************************
***************************/

/**TODO**/
.container1{
  display: grid;
  height: 80vh;
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: 30vh 30vh 20vh;
  text-align: center; 
  
}

.containerTodos{
  grid-column:1/2;
  grid-row: 1/3;
  background-color: var(--pink);
}

.containerP{
  grid-column:2/3;
  grid-row: 1/2;
  background-color: var(--blue);
}

.containerCalles{
  grid-column:2/3;
  grid-row: 2/3;
  background-color: var(--green);
}
.containerNotes{
  grid-column:1/3;
  grid-row: 3/4;
  background-color: var(--yellow);
}



/***************************
****************************
Screen Compatibility
****************************
***************************/


/******
X-Small devices (mobile phones, less than 640px)
*******/
@media (max-width: 640px) {
  
.container{
  display: grid;
  height: 25vh;
  grid-template-columns: 1fr; 
  grid-template-rows: 8vh 5vh 5vh 5vh;
  text-align: center;  
}

.logo{
  grid-row: 1/2;
}

.nav-item1{
  grid-row: 2/3;
}

.nav-item2{
  grid-row: 3/4;
}

.nav-item3{
  grid-row: 4/5;
}

}

/******
// Small devices upto Large devices
******/

@media (min-width: 640px){
 


}
